-
    const users = [
        {
            avatar: 'https://i.pinimg.com/736x/8f/d7/ee/8fd7ee35917bb06b9b5bfcdb7a93e833.jpg',
            name: 'Василий Наумкин',
            registration: '08.12.2012',
            registrationTime: '17:43',
            activity: '18.11.2022',
            activityTime: '18:15',
            acceptingOrders: false,
            comments: 9859,
            articles: 289,
            rating: '8283,9',
            ratingPositive: true,
        },
        {
            avatar: './images/no-user-photo.jpg',
            name: 'Павел Гвоздь',
            registration: '08.12.2012',
            registrationTime: '17:43',
            activity: '18.11.2022',
            activityTime: '18:15',
            acceptingOrders: true,
            comments: 9859,
            articles: 289,
            rating: '8283,9',
            ratingPositive: true,
        },
        {
            avatar: 'https://i.pinimg.com/736x/8f/d7/ee/8fd7ee35917bb06b9b5bfcdb7a93e833.jpg',
            name: 'Сергей Шлоков',
            registration: '08.12.2012',
            registrationTime: '17:43',
            activity: '18.11.2022',
            activityTime: '18:15',
            acceptingOrders: false,
            comments: 9859,
            articles: 289,
            rating: '8283,9',
            ratingPositive: false,
        },
        {
            avatar: 'https://i.pinimg.com/736x/8f/d7/ee/8fd7ee35917bb06b9b5bfcdb7a93e833.jpg',
            name: 'Володя',
            registration: '08.12.2012',
            registrationTime: '17:43',
            activity: '18.11.2022',
            activityTime: '18:15',
            acceptingOrders: false,
            comments: 9859,
            articles: 289,
            rating: '8283,9',
            ratingPositive: true,
        },
        {
            avatar: 'https://i.pinimg.com/736x/8f/d7/ee/8fd7ee35917bb06b9b5bfcdb7a93e833.jpg',
            name: 'Николай Савин',
            registration: '08.12.2012',
            registrationTime: '17:43',
            activity: '18.11.2022',
            activityTime: '18:15',
            acceptingOrders: false,
            comments: 9859,
            articles: 289,
            rating: '8283,9',
            ratingPositive: false,
        },
        {
            avatar: 'https://i.pinimg.com/736x/8f/d7/ee/8fd7ee35917bb06b9b5bfcdb7a93e833.jpg',
            name: 'Иван Климчук',
            registration: '08.12.2012',
            registrationTime: '17:43',
            activity: '18.11.2022',
            activityTime: '18:15',
            acceptingOrders: false,
            comments: 9859,
            articles: 289,
            rating: '8283,9',
            ratingPositive: true,
        },
        {
            avatar: 'https://i.pinimg.com/736x/8f/d7/ee/8fd7ee35917bb06b9b5bfcdb7a93e833.jpg',
            name: 'Андрей Степаненко',
            registration: '08.12.2012',
            registrationTime: '17:43',
            activity: '18.11.2022',
            activityTime: '18:15',
            acceptingOrders: false,
            comments: 9859,
            articles: 289,
            rating: '8283,9',
            ratingPositive: true,
        },
        {
            avatar: 'https://i.pinimg.com/736x/8f/d7/ee/8fd7ee35917bb06b9b5bfcdb7a93e833.jpg',
            name: 'Илья Уткин',
            registration: '08.12.2012',
            registrationTime: '17:43',
            activity: '18.11.2022',
            activityTime: '18:15',
            acceptingOrders: false,
            comments: 9859,
            articles: 289,
            rating: '8283,9',
            ratingPositive: true,
        },
        {
            avatar: './images/no-user-photo.jpg',
            name: 'Fi1osof',
            registration: '08.12.2012',
            registrationTime: '17:43',
            activity: '18.11.2022',
            activityTime: '18:15',
            acceptingOrders: false,
            comments: 9859,
            articles: 289,
            rating: '8283,9',
            ratingPositive: true,
        },
    ]

-
    const usersSelection = [
        {
            title: 'Принимает заказы?',
            inputs: [
                {
                    title: 'Да',
                    name: 'acceptingOrders',
                    checked: true,
                },
                {
                    title: 'Нет',
                    name: 'acceptingOrders',
                    checked: false,
                },
            ]
        },
        {
            title: 'Положительный рейтинг?',
            inputs: [
                {
                    title: 'Да',
                    name: 'positiveRating',
                    checked: true,
                },
                {
                    title: 'Нет',
                    name: 'positiveRating',
                    checked: false,
                },
            ]
        },
    ];
