.ch-button {
    &__input {
        display: none;

        &:checked ~ label {
            background-color: $black;
            color: $white;
        }
    }

    &__label {
        cursor: pointer;
        display: block;
        text-align: center;
        padding: 12px 32px;
        border-radius: 12px;
        background-color: $bgNSearch;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        transition: $transition;

        @include for-sm-desktop {
            font-size: 14px;
        }

        @include for-mobile {
            font-size: 12px;
            padding: 10px 20px;
        }

        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}
