header.header#header
    .l-default
        .header__wrapper
            .header__overlay
            .header__inner.header__inner--logo
                a(href="#").header__logo 
                    img(src="./img/svg/ico-logo.svg" alt="title" srcset="")
            .header__inner.header__inner--nav
                .header__sub-inner.header__sub-inner--logo 
                    a(href="#").header__logo 
                        img(src="./img/svg/ico-logo.svg" alt="title" srcset="")
                    button(type="button").header__button-close-menu
                .header__sub-inner.header__sub-inner--catalog
                    .header__catalog.catalog 
                        include ../../components/catalog/catalog.pug
                .header__sub-inner.header__sub-inner--menu
                    .header__menu.menu 
                        include ../../components/menu/menu.pug
                .header__sub-inner.header__sub-inner--search
                    .header__n-search.n-search
                        include ../../components/n-search/n-search.pug
            .header__inner.header__inner--auth
                button(type="button").header__button-open-menu
                button(type="button").header__auth Войти