
form.n-search__form(action="" method="post") 
    .n-search__align
        button(type="submit").n-search__button
    .n-search__wrapper
        .n-search__inner.n-search__inner--select-catalog
            button(type="button").n-search__button-catalog Искать в разделе
            ul.n-search__list 
                li.n-search__item 
                    a.n-search__link Разделы
                li.n-search__item 
                    a.n-search__link Комментарии
                li.n-search__item 
                    a.n-search__link Публикации
                li.n-search__item 
                    a.n-search__link Пользователи
                li.n-search__item 
                    a.n-search__link Чат
        .n-search__inner.n-search__inner--search-input
            input(type="hidden", name="category")
            input(type="text" name="resource")
        button(type="button").n-search__button-close