-
  const colorListLight = [
    { name: 'l-blue', },
    { name: 'l-green', },
    { name: 'l-orange', },
    { name: 'l-red', },
    { name: 'l-purple', },
    { name: 'l-brown', },
  ]

-
  const colorList = [
    { name: 'blue', },
    { name: 'green', },
    { name: 'orange', },
    { name: 'red', },
    { name: 'purple', },
    { name: 'brown', },
  ]

-
  const colorListAdditional = [
    { name: 'black', },
    { name: 'black-80', },
    { name: 'black-60', },
    { name: 'black-40', },
    { name: 'black-20', },
    { name: 'black-8', },
    { name: 'black-3', },
    { name: 'white', },
  ]