.menu {
    &__align {
        display: none;
    }

    &__item {
        position: relative;
        display: inline-block;

        &.active {
            .menu__link {
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #000;

                @include for-m-desktop {
                    font-size: 14px;
                }
            }

            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                transform: translateY(-50%);
                background-color: #000;
                border-radius: 50%;
                top: 50%;
                left: 0;
            }
        }

        @include for-sm-desktop {
            display: block;
        }
    }

    &__link {
        display: block;
        padding: 10px 20px;
        font-family: $fontMain, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #666;
        transition: $transition;

        @include for-m-desktop {
            padding: 8px 12px;
            font-size: 14px;
        }

        &:hover {
            color: $black;
        }
    }
}