extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "Цветовая палитра | MODX.pro"
  - const styles_url = "styles/ui.css"

block content
  include ../../blocks/modules/ui-colors-list/ui-colors-list.pug


//- block scripts
//-   script(src="js/main-page.js")