extends layouts/default
include helpers/mixins

block variables
  - const title = "Main | MODX.pro"
  - const styles_url = "styles/main.css"

block content
  include ../blocks/modules/header/header.pug
  main.main
  include ../blocks/modules/footer/footer.pug

block scripts
  script(src="js/main-page.js")