extends layouts/default
include helpers/mixins

block variables
  - const title = "Main | MODX.pro"
  - const styles_url = "styles/main.css"

block content
  main.main

block scripts
  script(src="js/main-page.js")