.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: to-rem(12);
  flex-direction: column;

  @media (min-width: 1336px) {
    flex-direction: row;
  }

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: to-rem(16);
    flex: none;

    @media (min-width: 1336px) {
      width: fit-content;
      margin-bottom: 0;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: to-rem(70);
    padding-right: to-rem(16);
    flex: none;
  }

  &__border {
    position: relative;
    display: block;
    height: 100%;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: to-rem(4);
      height: 80%;
      transform: translateY(-50%);
      content: " ";
      background-color: var(--color-black-3);
    }
  }

  &__box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  &__info {
    display: flex;
    align-items: center;
    padding: to-rem(0, 10);

    @media (min-width: 1336px) {
      padding: to-rem(0, 16);
    }
  }

  &__avatar {
    overflow: hidden;
    display: block;
    width: to-rem(72);
    height: to-rem(72);
    margin-right: to-rem(16);
    border: to-rem(3) solid var(--color-black-3);
    border-radius: 100%;
    flex: none;

    @media (min-width: 1440px) {
      width: to-rem(92);
      height: to-rem(92);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    margin-bottom: to-rem(4);
  }

  &__statistics {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);

    @media (min-width: 1336px) {
      display: flex;
      justify-content: flex-end;
    }

    &-name {
      color: var(--color-black-40);

      @media (min-width: 670px) {
        margin-right: to-rem(4);
      }
    }

    &-col {
      height: 100%;
      padding: to-rem(0, 16);

      @media (min-width: 670px) {
        display: flex;
        align-items: center;
      }

      @media (min-width: 1336px) {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
      }

      @media (min-width: 1440px) {
        min-width: to-rem(150);
      }

      &:first-child {
        &::before {
          @media (max-width: 1440px) {
            display: none;
          }
        }
      }

      &::before {
        height: 100%;
      }
    }
  }

  &__line {
    display: flex;
    align-items: center;

    &-name {
      color: var(--color-black-40);
    }

    &-value {
      margin-left: to-rem(5);
      color: var(--color-black-40);
    }
  }

  &__accepting-orders {
    color: var(--color-green);

    &--not {
      color: var(--color-orange);
    }
  }

  &__rating {
    color: var(--color-orange);

    &--positive {
      color: var(--color-green);
    }

    &--negative {
      color: var(--color-red);
    }
  }
}