.btn-select {
    display: block;
    width: 100%;
    overflow: hidden;

    &:focus {
        outline: none;
    }

    &__option {
        display: inline-block;
        cursor: pointer;
        width: 48%;
        text-align: center;
        padding: 12px 44px;
        border-radius: 12px;
        background-color: $bgNSearch;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        transition: $transition;

        &:first-child {
            margin-right: 4%;
        }

        &:hover {
            background-color: $black;
            color: $white;
        }
    }

}