button(type="button").catalog__btn Другие продукты
ul.catalog__list
    li.catalog__item
        a(href="#").catalog__link
            img(src="./img/icons-catalog/ico-modhost.png" alt="").catalog__ico
            span Modshost
    li.catalog__item
        a(href="#").catalog__link
            img(src="./img/icons-catalog/ico-modstore.png" alt="").catalog__ico
            span Modstore
    li.catalog__item
        a(href="#").catalog__link
            img(src="./img/icons-catalog/ico-moddocs.png" alt="").catalog__ico
            span Docs