$fontMain: 'Montserrat';

$active: #fff;
$activeHover: #fff;
$activeVisited: #fff;

$white: #fff;
$black: #242424;

$grayTextColor: #999;

$transition: 0.25s;

$primary_font: $fontMain;
$blackTextColor: #222222;
$grayTextColor: #999;
$transition: 0.25s;
$white: #fff;
$bgNSearch: #F7F7F7;

:root {
    --brWrapper: 20px;
    --borderElem: 4px solid #f7f7f7;
    --colorBorder: #f7f7f7;
}